<!DOCTYPE  html>
<html>
	<head>
  	<title> Calculadora </title>
	  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    </head>
    
	<body>
	<h1>Calculadora</h1>
	<input type="button" id="restar" value="-" onClick="Operacion('-')">
	<input type="button" id="dividir" value="/" onClick="Operacion('/')">
	<input type="button" id="multiplicar" value="*" onClick="Operacion('*')">
    <input type="button" id="sumar" value="+" onClick="Operacion('+')">
	<input type="button" value="=" onClick="resultado()">
	<input type="text" id="numero" value="0">
	
	</body>
	<script src="../js/main.js"></script>
	<script src="../js/validations.js"></script>
</html>