<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link type="text/css" href="estilo.css" rel="stylesheet">
  </head>
  <body onload="init();">
    <table class="calculadora">
      <tr>
        <td colspan="4"><span id="resultado"></span></td>
      </tr>
      <tr>
        <td><button class="numericButtons" value="7">7</button></td>
        <td><button class="numericButtons" value="8">8</button></td>
        <td><button class="numericButtons" value="9">9</button></td>
        <td><button class="operadores" value="division">/</button></td>
      </tr>
      <tr>
        <td><button class="numericButtons" value="4">4</button></td>
        <td><button class="numericButtons" value="5">5</button></td>
        <td><button class="numericButtons" value="6">6</button></td>
        <td><button class="operadores" value="multiplicacion">*</button></td>
      </tr>
      <tr>
        <td><button class="numericButtons" value="1">1</button></td>
        <td><button class="numericButtons" value="2">2</button></td>
        <td><button class="numericButtons" value="3">3</button></td>
        <td><button class="operadores" value="resta">-</button></td>
      </tr>
      <tr>
        <td><button id="igual" value="resultado" >=</button></td>
        <td><button id="reset">C</button></td>
        <td><button class="numericButtons" value="0">0</button></td>
        <td><button class="operadores" value="suma">+</button></td>
      </tr>
    </table>
    <script src="../js/main.js"></script>
  </body>
</html>